.nav {
  padding: 10px 0;
}

.list {
  padding: 0;
}

.item {
  list-style-type: none;
  font-size: 14px;
  padding: 5px;

  a {
    text-decoration: none;
    color: black;

    &.active {
      background-color: white;
      border: 1px solid rgba(gray, .4);
      border-radius: 3px;
    }
  }
}